h1 {
    color: rgb(50, 19, 19);
    text-align: center;
}

header, footer, body {
    background-color: #fdd5de;
}

.cart_icon {
    width: 30px;
    height: auto;
}

.user_icon {
    width: 30px;
    height: auto;
}

.cb_logo {
    width: 35px;
    height: auto;
}

.paypal_logo {
    width: 35px;
    height: auto;
}